body {
    background-color: #f1f1f1ab;
}
#conteiner1 {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    width: 1305px;
    height: 50px;
}
.menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    flex-direction: row;
    gap: 25px;
    flex-grow: 1;
    overflow: hidden;
}
.menu li a {
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
}
.menu li a:hover {
    background-color: gray;
    border-radius: 4px;
}
#conteiner2 {
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    width: 1305px;
    height: 900px;
}
.background {
    display: flex;
    background-image: url(/imagens/mountains1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    display: inline-block;
    justify-content: center;
}
section {
    width: 1060px;
    height: 600px;
    text-align: center;
    align-items: center;
}
.titulo-principal {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}
.texto-inicial {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
}
.comecar {
    background-color: #1b1d20;
    color: aliceblue;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: .5rem 1.2rem;
    size: 20px;
    border-radius: 4px;
}
button:hover, button:active {
    background-color: #3b3c3c;
    color: #1b1d20;
}
.bottom1 {
    display: inline-block;
    position: absolute;
    top: 107%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom2 {
    display: inline-block;
    position: absolute;
    top: 104%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom3 {
    display: inline-block;
    position: absolute;
    top: 106%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom1 p {
    width: 150px;
    font-size: small;
    line-break: normal;
}
.bottom2 p {
    width: 150px;
    font-size: small;
    line-break: normal;
}
.bottom3 p {
    width: 150px;
    font-size: small;
    line-break: normal;
}
.caneta {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.layer {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.foguete {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
}
#conteiner4 {
    text-align: center;
}
h3 {
    display: inline-flex;
    position: relative;
    top: 35%;
    left: 50%;
    text-align: center;
}
#conteiner4 p {
    display: inline-block;
}
#conteiner5 {
    display: flex;
    text-align: left;
    width: 1305px;
    height: 50px;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-start;
    list-style-type: none;
    overflow: hidden;
}
.footer-menu li a {
    display: flex;
    color: black;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-menu li a:hover {
    background-color: gray;
    border-radius: 4px;
}